.root{
    -fx-background-color: #1B1B1B;
}

.button{
    -fx-background-color: #1F1F1F;
    -fx-text-fill : "white";
    -fx-background-radius : 20;
}

.check-box .box{
    -fx-background-color: white;
}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #96c8ff;
}

.table-column{
    -fx-background-color: #7b7b7b;
    -fx-text-fill : "white";
}

.table-cell{
    -fx-background-color: #5b5b5b;
    -fx-text-fill : "white";
}

.table-view{
    -fx-background-color: #1F1F1F;
    -fx-background-radius : 20;
}

.text-field{
    -fx-text-fill : "white";
    -fx-background-color: #1F1F1F;
    -fx-background-radius : 20;
}

.progress-bar > .track {
  -fx-text-box-border:  #2F2F2F;
  -fx-control-inner-background:  #2F2F2F;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-color: #96c8ff;
}

.scroll-pane {
    -fx-background-color: #1F1F1F;
}

.scroll-pane > .corner {
    -fx-background-color: #1F1F1F;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #96c8ff;
    -fx-background-radius: 5em;
}

#btn_Black {
    -fx-background-color: #1F1F1F;
    -fx-background-radius: 20;
}

#btn_Black:hover {
    -fx-background-color: #2F2F2F;
    -fx-background-radius: 20;
    -fx-border-color: #1F1F1F;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}

#btn_Gray {
    -fx-background-color: #2F2F2F;
    -fx-background-radius: 20;
}

#btn_Gray:hover {
    -fx-background-color: #1F1F1F;
    -fx-background-radius: 20;
    -fx-border-color: #2F2F2F;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}